body {
  color: #EEE;
  background-color: #080808;
  font-family: "Segoe UI", sans-serif;
}

#layout {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#layout {
  position: relative;
  padding-left: 0;
}
  #layout.active {
    position: relative;
  }

.content {
  margin: 0 auto;
  padding: 0px 5em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.6em;
  background-color: #1d1d1d;
}

.header {
   color: #FFF;
   background-color: #080808;
   text-align: center;
   padding: 2.5em 2em 0;
 }
  .header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
  }
  .header h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
  }
  .header h2 code {
    font-weight: 500;
  }

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {
  #arrow {
    transform: rotate(0deg) !important;
    -webkit-transform: rotate(0deg) !important;
    -ms-transform: rotate(0deg) !important;
  }

  .header,
  .content {
    padding-left: 2em;
    padding-right: 2em;
  }

  #layout {
    left: 0;
  }
}

#translator {
  margin: 2em 0;
  font-weight: 300;
  color: #888;
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
}

#strftime, #output {
  border: none;
  border-bottom: 2px solid #21427A;
  background-color: transparent;
  color: #FFF;
  font-size: 2em;
  font-family: monospace;
  outline: none;
  padding: 0.5em 0.6em;
  box-sizing: border-box;
  width: 100%;
}

dt {
  clear: both;
  float: left;
  font-family: monospace;
  padding-top: 2px;
  font-weight: 500;
}

code {
  font-family: monospace;
}

dd {
  float: left;
}

#arrow {
  transform: rotate(90deg);
  line-height: 60px;
  text-align: center;
  padding: 0 1em;
}

#definitions, #unsupported, #footer {
  margin: 0 auto;
  height: auto;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  display: inline-block;
  font-size: 0.9em;
  /* vertical-align: middle; */
}

#definitions dt {
  background-color: rgba(0,0,0,0.17);
  border-radius: 5px;
  cursor: pointer;
  margin: 3px 0;
  padding: 3px 8px;
}

#unsupported {
  border-bottom: 3px solid #080808;
  color: #ccc;
  margin-top: 1.5em;
  margin-bottom: 1em;
  padding-bottom: 1.75em;
}

#unsupported h4 {
  margin: 0.66em 0;
}

#unsupported dt, #unsupported dd {
  font-size: 0.8em;
}

a {
  color: #4285F4;
}

input[type="text"]:hover, input[type="text"]:focus {
  border-bottom: 2px solid #4285F4 !important;
}

input[type="text"] {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#why {
  font-size: 0.9em;
  margin-bottom: 1.5em;
}

#footer {
  border-top: 3px solid #080808;
  font-size: 12px;
  padding: 1.5em 0;
}

dd.translation-dd {
  padding-top: 5px;
}

dd.pure-u-16-24 {
  padding-top: 2px;
}